@page
@model LanguageLearning.Pages.UserLoginModel
@{
    ViewData["Title"] = "User Login";
}

<h2>Login</h2>
<body>          
    <div id="loginField">
        <form method="post">
            <div class="form-group">
                <label asp-for="UserLogin.Username" class="control-label"></label>
                <input asp-for="UserLogin.Username" class="form-control" autocomplete="off"/>
                <span asp-validation-for="UserLogin.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLogin.Password" class="control-label"></label>
                <input asp-for="UserLogin.Password" class="form-control" autocomplete="off" type="password"/>
                <span asp-validation-for="UserLogin.Password" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Log in" />
            </div>
        </form>
        <p>
            Don't have an account? <a asp-page="/UserAccount/UserCreate">Sign up</a>
        </p>
    </div>

    <script src="~/js/UserAccount/LoginPage.js"></script>
    <script src="~/js/AccountInputHandling.js"></script>
</body>
<script>
    $("#loginButton").show();
    $("#accountButton").hide();
</script>
