@page
@model LanguageLearning.Pages.JTranslateModel
@{
    ViewData["Title"] = "Japanese Words Translation";
}

<h2>Japanese Words Translator</h2>
<form>
    <p>
        Word to translate: <input type="text" name="wordToTranslate">
        <input type="submit" value="Translate" />
    </p>
    <p>
        Your translated word is: @Model.EngOrJap
    </p>    
    <p>
        Your randomised word is: @Model.RandomWordSelected
    </p>
    <p>
        Please translate this word: <input type="text" name="wordTranslateGuess">
        <input type="submit" value="Submit" />
    </p>
    <p>
        Is your answer correct? @Model.CorrectAnswer
    </p>
    <p>
        Number of correct answers: @Model.CurrentScore
    </p>
</form>

