@page
@model LanguageLearning.Pages.Japanese.MemoriseGameModel
@{
    ViewData["Title"] = "Japanese Words Memorise Game";
}
<style>
    @@-webkit-keyframes correctColor{
        0% {
            background-color: #28ff13;
            color : white;
            opacity : 1;
        }
        100% {
            background-color: #eeeeee;
            border-color: #0093ed;
            color: black;
        }
    }

    #timerHistoryField {
        position: absolute;
        right: 300px;
        top: 100px;
    }

    #timerHistoryField h3 {
        font-size: 1.2em;
    }

    .gameField {
        position: relative;
        width: 600px;
        height: 500px;
        left: 50%;
        margin-left: -300px;
        /*margin: auto;    */
        border: 2px solid black;
        border-radius: 10px;
    }
    
    #answerField {
        position: relative;
        width: 600px;
        margin: auto;
        top: 130px;        
    }

        #answerField.container {           
            display: inline-block;               
        } 
   
        #answerField .answerButton {            
            background-color: #eeeeee;
            border: 2px solid #0093ed;
            border-radius: 10px;
            width: 280px;
            padding: 32px 64px;
            text-align: center;
            -webkit-transition-duration: 0.3s; /* Safari */
            transition-duration: 0.15s;
            cursor: pointer;
        }

        #answerField button.neutral:hover {
            background-color: #0093ed;
            border-color:  #0074bb; 
            color: white;
        }

        #answerField button.incorrect {
            border-color: #ff2929;
            background-color: #ff2929;
        }

        #answerField button.correct {
            -webkit-animation-name: correctColor;
            -webkit-animation-duration: 900ms;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

    .questions {
        padding:5%;
        height: 120px;
    }

    #randomWordText {
        position: relative;
        top: 80px;
        font-size: 300%;
        text-align: center;
    }

    #gameTypeDisplay {
        height: 40px;
        background-color: #25d9a3;
        border: 1px solid black;
        border-top: none;
        border-right: none;
        border-left: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        text-align: center;
        font-size: 1.3em;
        line-height: 40px;
    }

    #gameResetButton {
        position: relative;        
        height: 30px;
        width: 100px;
        margin: -30px -50px;
        top: 160px;
        left: 50%;
        background-color: #eeeeee;
        border: 2px solid #ff7f7f;
        border-radius: 5px;
        -webkit-transition-duration: 0.3s; /* Safari */
        transition-duration: 0.15s;
    }

        #gameResetButton:hover {
            background-color: #ff2323;
            color: white;
        }

    #scoreboard {
        position: absolute;
        top: 50px;
        left: 300px;
    }

    #gameType {
        position: relative;        
        padding-top: 30px;       
    }

        #gameType .flex {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        #gameType button {
            background-color: #eeeeee;
            border: 2px solid #00cd38;
            border-radius: 5px;
            -webkit-transition-duration: 0.3s; /* Safari */
            transition-duration: 0.15s;
        }
        #gameType button.noJQuery {
            border-color: #e4feeb; 
            background-color: #d3d3d3; 
            color: #8f8f8f;
        }
        #gameType button.hover:hover {
            background-color: #00cd38;
            color: white;
        }

    .languageButton + .languageButton {
        margin-left: 10px;
    }

    .translateTypeButton + .translateTypeButton {
        margin-left: 10px;
        
    }
    .languageOption {
        padding-top: 10px;
    }

    #gameType .languageButton {
        padding: 16px 32px;
    }

    #gameType .translateTypeButton {
        padding: 16px 32px;
    }

    #startButton {
        position: relative;
        height: 30px;
        width: 100px;
        margin: -30px -50px;
        top: 200px;
        left: 50%;
        background-color: #eeeeee;
        border: 2px solid #ff7f7f !important;
        border-radius: 5px;
        -webkit-transition-duration: 0.3s; /* Safari */
        transition-duration: 0.15s;
    }

        #startButton:hover {           
            background-color: #ff7f7f !important;
            color: white;
        }

       
</style>

<h2>Japanese Words Memorise Game</h2>
<head>  
    
</head>
<body>
    <div id="timerHistoryField">
        <h3>Time taken to answer correctly</h3>
    </div>

    <div id="timerText">
        <p>
            <span id="timerMinutes"></span>:<span id="timerSeconds"></span>:<span id="timerTens"></span>
        </p>
    </div>
    <br />    
    <div class="gameField">
        <div id="gameType" >            
            <div class="language flex">
                <button class="languageButton button hover">Japanese</button>
                <button class="languageButton button hover">Korean</button>
            </div>
            <div class="languageOption flex" style="display: none">
                <button id="toEnglish" class="translateTypeButton button hover"></button>
                <button id="toJapanese" class="translateTypeButton button hover"></button>
            </div>           
            <button id="startButton" class="button hover" style="display: none">Start game</button>
        </div>
        <div id="game" style="display:none">
            <div id="gameTypeDisplay"></div>
            <div class="questions">                                  
                    <div id="randomWordText"></div>                
            </div>
            <div id="answerField">
                <div class="container">
                    <p>
                        <button class="answerButton neutral" id="answerButton1"></button>
                        <button class="answerButton neutral" id="answerButton2"></button>
                    </p>
                    <p>
                        <button class="answerButton neutral" id="answerButton3"></button>
                        <button class="answerButton neutral" id="answerButton4"></button>
                    </p>
                </div>
            </div>
            <button id="gameResetButton">Reset Game</button>
            <div id="scoreboard">
                <p>
                    Is your answer correct?
                    <text id="isAnswerCorrect"></text>
                </p>
                <div class="scoreCount">                    
                        <text id="answerScore">Game has not started</text>                   
                </div>                
            </div>           
        </div>
    </div>
    <script src="~/js/WordMemoriseGame.js"></script>
</body>

