@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Language Learning App</h2>
<script>
    $.get("?handler=ClaimsIndex", function (result) {
        if (result === "Invalid") {
            $("#loginButton").show();
            $("#accountButton").hide();              
        } else {
            var claims = JSON.parse(JSON.stringify(result));
            $("#userGreeting").html("Hello, " + claims.sub);
            $("#loginButton").hide();
            $("#accountButton").show();
        }        
    });
</script>
