@page
@model LanguageLearning.Pages.UserLoginModel
@{
    ViewData["Title"] = "User Login";
}

<h2>Login</h2>
<body>
    <div id="loginField" >
        <div class="form-group">
            Username: 
            <input type="text" id="usernameInput" />
        </div>
        <div class="form-group">
            <p>
                Password: 
                <input type="password" id="passwordInput" class="showpassword" autocomplete="off"/>
                <button id="passwordVisibility">Show Password</button>
            </p>
            <p>
                <button id="loginSubmit">Log in</button>
                <text id="loginError"></text>
            </p>
        </div>       
        <p>
            Don't have an account? <a asp-page="/UserCreate">Sign up</a>
        </p>
    </div>
    
    <script src="~/js/LoginPage.js"></script>
    <script src="~/js/AccountInputHandling.js"></script>
</body>

