@page
@model LanguageLearning.Pages.UserAccount.Settings.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change your Password</h2>

<div class="row">
    <div class="col-md-4">
        <div id="oldPassword" class="form-group">
            <label class="control-label">Old Password</label>
            <input type="password" id="oldPasswordInput" class="form-control matchPasswordInput" autocomplete="off" /> 
            <p><text class="passwordFillError"></text></p>
        </div>
        <form method="post" id="changePasswordForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserDetails.ID" />
            <input type="hidden" asp-for="UserDetails.UserName" />
            <input type="hidden" asp-for="UserDetails.StringifiedSalt" />
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" id="newPasswordInput" asp-for="UserDetails.Password" class="form-control matchPasswordInput" autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <div id="passwordAgain" class="form-group">
            <label class="control-label">Confirm Password</label>
            <input type="password" id="confirmNewPassword" class="form-control matchPasswordInput" autocomplete="off" />
            <p><text id="passwordMatchingError"></text></p>
        </div>
    </div>
</div>
<script>    
    $.get("/UserAccount/Settings/ChangePassword?handler=ClaimsChangePassword", function (result) {
        if (result === "Invalid") {
            $("#loginButton").show();
            $("#accountButton").hide();              
        } else {
            var claims = JSON.parse(JSON.stringify(result));
            $("#userGreeting").html("Hello, " + claims.sub);
            $("#loginButton").hide();
            $("#accountButton").show();
        }        
    });

    $('#changePasswordForm').submit(function (event) {
        var oldPassword = $('#oldPasswordInput').val() 
        var newPassword = $('#newPasswordInput').val();
        var confirmNewPassword = $('#confirmNewPassword').val();       

        event.preventDefault();

        $.when(ValidateOldPassword(oldPassword)).done(function (result) {
            var isOldPasswordValid = JSON.parse(JSON.stringify(result));    
            alert(JSON.stringify(result));
            if (!isOldPasswordEmpty(oldPassword) && isOldPasswordValid.isValid && validateNewPassword()) {
                $(".passwordFillError").hide();
                submitDetails();
            } else if (!isOldPasswordValid.isValid) {
                $(".passwordFillError").html("Invalid Password");
                $(".passwordFillError").show();
            } else if (newPassword === "" || confirmNewPassword === "") {
                alert("One or more fields have been left empty");
            } else if (!validateNewPassword()) {
                alert("Your new password cannot be the same as your old password!")
            } else {
                alert("Passwords do not match");                
            }
        });                
    });

    $('.matchPasswordInput').keyup(function () {
        if ($("#newPasswordInput").val() !== $('#confirmNewPassword').val()) {
            $('#passwordMatchingError').html("Passwords do not match")
                .css("color", 'red')
                .show();
        } else {
            $('#passwordMatchingError').hide();
        }
    });

    function isOldPasswordEmpty(oldPassword) {
        if (oldPassword === "") {
            $(".passwordFillError").html("Please enter into this field");
            $(".passwordFillError").show();
            return true;
        } else {
            $(".passwordFillError").hide();            
            return false;
        }
    }    

    function validateNewPassword() {
        var oldPassword = $('#oldPasswordInput').val() 
        var newPassword = $('#newPasswordInput').val();
        var confirmNewPassword = $('#confirmNewPassword').val();        

        if (newPassword === confirmNewPassword && newPassword !== oldPassword) {
            return true;
        } else {
            return false;
        }
    }    

    function ValidateOldPassword(oldPassword) {
        return $.get("/UserAccount/Settings/ChangePassword?handler=ValidateOldPassword", { Password: oldPassword }).done(function (result) {
        });
    }

    function submitDetails() {
        $('#changePasswordForm').unbind('submit').submit();
    }
</script>
 

