@page
@model LanguageLearning.Pages.UserAccount.Settings.DeleteAccountModel
@{
    ViewData["Title"] = "DeleteAccount";
}

<h2>Delete Account</h2>
<div>
    <p>Are you sure you want to delete this account?</p>
    <form method="post">        
        <input type="submit" value="Delete" class="btn btn-default"/>
    </form>
</div>

