@page
@model LanguageLearning.Pages.UserAccount.Settings.ValidatePasswordModel
@{
    ViewData["Title"] = "ValidatePassword";
}

<h2>ValidatePassword</h2>
<form id="validatePasswordForm" method="post">    
    <input id ="usernameInput" type="hidden" asp-for="UserLogin.Username" />
    <div class="form-group">
        <label asp-for="UserDetails.Password" class="control-label"></label>
        <input asp-for="UserLogin.Password" class="form-control matchPasswordInput" autocomplete="off" id="passwordInput" type="password" />
        <span asp-validation-for="UserLogin.Password" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
<div id="passwordAgain" class="form-group">
    <label class="control-label">Confirm Password</label>
    <input type="password" id="confirmPassword" class="form-control matchPasswordInput" autocomplete="off" />
    <p><text id="passwordMatchingError"></text></p>
</div>
<script>
    $.get("/UserAccount/Settings/ValidatePassword?handler=ClaimsValidatePassword", function (result) {
        if (result === "Invalid") {
            $("#loginButton").show();
            $("#accountButton").hide();
        } else {
            var claims = JSON.parse(JSON.stringify(result));
            $("#userGreeting").html("Hello, " + claims.sub);
            $("#loginButton").hide();
            $("#accountButton").show();
        }
    });

    $('#validatePasswordForm').submit(function (event) {          
        var username = $('#usernameInput').val();
        var password = $('#passwordInput').val();
        var confirmPassword = $('#confirmPassword').val();   

        event.preventDefault(); 

        if (password === confirmPassword) {
            submitDetails();       
        } else {
            alert("One or more fields have been left empty");
        }
    });

    $('.matchPasswordInput').keyup(function () {
        if ($("#passwordInput").val() !== $('#confirmPassword').val()) {
            $('#passwordMatchingError').html("Passwords do not match")
                .css("color", 'red')
                .show();
        } else {
            $('#passwordMatchingError').hide();
        }
    });    

    function submitDetails() {        
        $('#validatePasswordForm').unbind('submit').submit();
    }
</script>


